<article>
  <h3>What is this?</h3>
  <p>
    mostly just a personal log book on amateur radio related stuff.
  </p>
</article>

<article>
  <h3>Who are you?</h3>
  <p>
    i'm ben, i live in boulder, co.
  </p>
</article>

<article>
  <h3>What are you doing?</h3>
  <p>
    i don't know :(
  </p>
</article>
