/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  font-family: 'monaco', monospace;
  font-size: 12px;
  margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: block;
}

nav {
  display: block;
  float: left;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  text-align: right;
  margin: 5px 0;
  padding-right: 10px;
  border-right: solid 1px #ddd;
}

article {
  display: block;
  border-bottom: solid 1px #eee;
  margin-bottom: 20px;
}

article h4.date {
  color: #ddd;
  font-size: 10px;  
}

section {
  display: block;
}

section#main {
  float: left;
  margin-left: 50px;
  width: 600px;
}

section#main a {
  text-decoration: underline;
}

section#main a:hover {
  background-color: #eee;
}
